.Container {
    
    padding: 0px;
    margin: 0px;
    height: 100%; 
    display: flex;
    flex-wrap: wrap;
    border: 3px solid;

    
}

.cell {
    width: 48px;
    height: 48px;
    border: 1px solid;
    border-color: blueviolet;
}